.login {
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
}
.login__container {
    padding: 100px;
    text-align: center;
    background-color: rgb(164, 236, 236);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0 , 0, 0, 0.12), 0 1px 3px rgba(0 , 0, 0, 0.12);
}
.login__container > div > button {
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #253386 ;
    color: white;
}